@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --btn-color: #fb8823;
  --btn-hover-color: #fe973d;
}

body {
  --text-color: #161616;
  --bkg-color: #fcfbfe;
  color: var(--text-color);
  background-color: var(--bkg-color);
  transition: all 200ms ease-in;
}

body.dark {
  --text-color: #f1f1f1;
  --bkg-color: #130c2a;
}

@layer components {
  .btn-primary {
    @apply bg-[var(--btn-color)] text-white px-4 py-2 rounded-lg hover:bg-[var(--btn-hover-color)] transition duration-300;
  }

  .section {
    @apply px-[2.5%] py-8 md:px-[5%];
  }
}
